@model ChaVoV1.Models.Question
@{
    ViewData["Title"] = Model.QuestionTitle;
}

<form asp-controller="Question" asp-action="Edit" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="CenterForm">
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <div class="form-group">
            <label asp-for="QuestionTitle">Title</label>
            <input asp-for="QuestionTitle" value="@Model.QuestionTitle" class="form-control"/>
            <span asp-validation-for="QuestionTitle"></span>
        </div>
        <div class="form-group">
            <label asp-for="QuestionText">Question</label>
            <textarea asp-for="QuestionText" style="min-height: 200px;" class="form-control">@Model.QuestionText</textarea>
            <span asp-validation-for="QuestionText"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category">Category</label>
            <select name="CategoryId" class="form-control">
                @foreach(var x in ViewBag.Categories)
                {
                    <option value="@x.Id">
                        <b>@x.CategoryText</b>
                    </option>
                }
            </select>
            <span asp-validation-for="Category"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary form-control" value="Edit" onclick = "return confirm('Are you sure?')"/>
            <a asp-controller="Question" asp-action="Delete" asp-route-id="@Model.Id" class="btn form-control border-danger" onclick = "return confirm('Are you sure?')">Delete</a>
        </div>
</form>